/* ============================== */
/* DIALOG ADD WATCHLIST */

/* modalStyle */
.modalStyle .ant-modal-content {
    background-image: linear-gradient(90deg, #0b70cdff 0%, #073662ff 100%);
    border-radius: 20px;
    padding: 10px 24px;
}

.modalStyle .ant-modal-close{
    color: white;
}

/* inputStyle */
.inputStyle .ant-input-lg {
    border-radius: 0;
    width: 512px;
}

.inputStyle .ant-row {
    width: fit-content;
}

.inputStyle {
    margin-bottom: 5px;
}

/* btnStyle */
.btnStyle {
    width: fit-content;
    margin-bottom: 0;
}

/* ============================== */
/* DANH MỤC THEO DÕI */

/* inputSearch */
.inputSearch .ant-input{
    height: 30px;
}

.inputSearch .ant-input-group-addon {
    background-color:#94c7f6;
    border-radius: 10px;
}

.inputSearch .ant-input-outlined {
    background-color:#94c7f6;
    border-style: none;
    border-radius: 10px;
}

.inputSearch .anticon-search {
    color: #3C3C43;
}

/* bgImage */
.bgImage {
    background-image: linear-gradient(90deg, #0669fcff 0%, #011e48ff 100%);
}

/* dropdown */
.dropdown .ant-dropdown-menu-light {
    background-color:#96C6FF;
}

.dropdown .ant-dropdown-menu-item-group-title {
    color: #000 !important;
    font-weight: 600;
}

.ant-dropdown {
    inset: 203px auto auto 40px !important;
}