.historical-pe-pb .highcharts-legend-item.highcharts-series-3 {
    transform: translate(300px, 3px);
}
.historical-pe-pb .highcharts-legend-item.highcharts-series-4 {
    transform: translate(300px, 22px);
}
.historical-pe-pb .highcharts-legend-item.highcharts-series-5 {
    transform: translate(300px, 41px);
}
